.background{
	background-color: blue;
}

.title{
	font-family: "Ink Free";
	text-align: center;
	font-size: 6rem;
	color: #ffc600;
}


.keys {
  display: flex ;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}